
<ion-content style="width: 100%; height: 100%;"  class="text-center" >
  <ion-toolbar>
    <ion-title>Crear AC</ion-title>
  </ion-toolbar>
  <ion-grid fixed class="text-center" >
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>
            <ion-label position="floating">Name</ion-label>
            <ion-input
              [(ngModel)]="accionCausaConsecuencia.name"
              type="text"
              required
            ></ion-input>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>npcCausa: </ion-label>
          <ion-select [(ngModel)]="this.accionCausaConsecuencia.npcCausa"     
          interface="popover"
          placeholder="Select npcCausa"
          [value]="this.accionCausaConsecuencia.npcCausa"
           multiple="false">
              <ion-select-option *ngFor="let NPCSAndSabio of NPCSAndSabios" [value]="NPCSAndSabio" >{{NPCSAndSabio.tipo}} - {{NPCSAndSabio.name}}</ion-select-option>

          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>npcConsecuencia: </ion-label>
          <ion-select [(ngModel)]="this.accionCausaConsecuencia.npcConsecuencia"     
          interface="popover"
          placeholder="Select npcConsecuencia"
          [value]="this.accionCausaConsecuencia.npcConsecuencia"
           multiple="false">
              <ion-select-option *ngFor="let NPCSAndSabio of NPCSAndSabios" [value]="NPCSAndSabio" >{{NPCSAndSabio.tipo}} - {{NPCSAndSabio.name}}</ion-select-option>
              <ion-select-option [value]="Todos" >Todos</ion-select-option>
      
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>
            <ion-label position="floating">Description</ion-label>
            <ion-input
              [(ngModel)]="accionCausaConsecuencia.description"
              type="text"
              required
            ></ion-input>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>



    <ion-row>
      <ion-col size="12">
        <ion-button
          (click)="CreateData(accionCausaConsecuencia)"
          class="ion-padding"
          expand="full"
          fill="solid"
          shape="round"
        >
          Create
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>


