<app-header [titulo]="titulo"></app-header>

<ion-content
  style="width: 100%; height: 100%"
  color="light"
  class="ion-no-padding"
>
  <ion-grid class="text-center" fixed style="width: 100%; height: 100%">
    <ion-row class="text-center mt-4" style="height: 90%">
      <ion-col class="mx-auto" size="12">
        <ion-button
            color="secondary"
          class="mx-auto"
          routerLink="./npcmain-page"
          style="width: 60%; height: 50%"
          shape="round"
          fill="solid"
          expand="full"
        >
       
          <ion-icon
            slot="icon-only"
            style="font-size: 50px"
            name="people-outline"
          ></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="mx-auto" size="12">
        <ion-button
            color="tertiary"
          class="mx-auto"
          routerLink="./sabio-main-page"
          style="width: 60%; height: 50%"
          shape="round"
          fill="solid"
          expand="full"
        >
       
          <ion-icon
            slot="icon-only"
            style="font-size: 50px"
            name="school-outline"
          ></ion-icon>
        </ion-button>
      </ion-col>

      <ion-col class="mx-auto" size="12">
        <ion-button
          class="mx-auto"
          routerLink="./acmain-page"
          style="width: 60%; height: 50%"
          shape="round"
          fill="solid"
          expand="full"
        >
     
          <ion-icon
            slot="icon-only"
            style="font-size: 50px"
            name="swap-horizontal-outline"
          ></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
