<app-header [titulo]="titulo" ></app-header>

<ion-content  color="light" class="ion-no-padding" >
    <ion-grid fixed style="width: 100%; height: 100%;">
        <ion-row class="text-center">
            <ion-col class="mx-auto  my-auto " size="6">
                <ion-button routerLink="./npcmain-page"   class="mx-auto" style="width: 60%;" fill="solid" expand="full"  >
                NPC
                </ion-button>
            </ion-col>
           
        </ion-row>
        <ion-row>
            <ion-col class="mx-auto my-auto  " size="6">
                <ion-button routerLink="./sabio-main-page"  class="mx-auto" style="width: 60%;" fill="solid" expand="full"  >
                    Sabios
                    </ion-button>
            </ion-col>
           
        </ion-row>
        <ion-row>
            <ion-col class="mx-auto  my-auto " size="6">
                <ion-button  routerLink="./acmain-page"   class="mx-auto" style="width: 60%;" fill="solid" expand="full"  >
                    AC
                    </ion-button>
            </ion-col>
           
        </ion-row>
    </ion-grid>

</ion-content>
