<ion-card style="width: 90%; height: 100%;"  class="text-center" >
  <ion-card-header class="text-center" >

    <ion-card-title>Crear NPC</ion-card-title>
  </ion-card-header>


  <ion-card-content class="text-center"  >
    
    <ion-grid fixed class="text-center" >
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>
              <ion-label position="floating">Name</ion-label>
              <ion-input
                [(ngModel)]="NPC.name"
                type="text"
                required
              ></ion-input>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Town: </ion-label>
            <ion-select [(ngModel)]="this.NPC.town"
            interface="popover"
            placeholder="Select Town"
            [value]="this.NPC.town"
            multiple="false">
                <ion-select-option *ngFor="let town of towns | async" [value]="town.town" >{{town.town}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col size="12">
   
        
              <ion-item>
                <ion-label>Actions: </ion-label>
                <ion-select [(ngModel)]="this.NPC.actions" multiple="true">
                  	<ion-select-option *ngFor="let act of actions | async" [value]="act.action" >{{act.action}}</ion-select-option>
                </ion-select>
              </ion-item>
  
       
      
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col size="12">
          <ion-button
            (click)="CreateData(NPC)"
            class="ion-padding"
            expand="full"
            fill="solid"
            shape="round"
          >
            Create
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>

  </ion-card-content>
</ion-card>