<ion-card style="width: 90%; height: 100%;"  class="text-center" >
  <ion-card-header class="text-center" >

    <ion-card-title>Crear Interaccion</ion-card-title>
    <ion-card-subtitle *ngIf="!thisIsPlus" >{{NPCNormalDialog.numInteraction }} - {{NPCNormalDialog.npc.name}} </ion-card-subtitle>
    <ion-card-subtitle  *ngIf="thisIsPlus"  >PLUS: {{NPCNormalDialog.numInteraction }} - {{NPCNormalDialog.npc.name}}</ion-card-subtitle>
  </ion-card-header>


  <ion-card-content class="text-center"  >
    
    <ion-grid fixed class="text-center" >


      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>numPages: </ion-label>
            <ion-select [(ngModel)]="this.NPCNormalDialog.numPages"     
            interface="popover"
            placeholder="Select numPages"
            [value]="this.NPCNormalDialog.numPages"
             multiple="false">
             <ion-select-option  *ngFor="let c of [1,1,1,1,1,1,1,1,1,1]; let i = index  "  [value]="i+1" > {{i+1}} </ion-select-option>
          
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row  >
        <ion-col *ngIf="this.NPCNormalDialog.numPages >= 1" size="12">
          <ion-item>
            <ion-label>
              <ion-label position="floating">Dialogo Pagina: 1</ion-label>
              <ion-input
                [(ngModel)]="NPCNormalDialog.contenidoPages[0]"
                type="text"
                required
              ></ion-input>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row  >
        <ion-col *ngIf="this.NPCNormalDialog.numPages >= 2" size="12">
          <ion-item>
            <ion-label>
              <ion-label position="floating">Dialogo Pagina: 2</ion-label>
              <ion-input
                [(ngModel)]="NPCNormalDialog.contenidoPages[1]"
                type="text"
                required
              ></ion-input>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row  >
        <ion-col *ngIf="this.NPCNormalDialog.numPages >= 3" size="12">
          <ion-item>
            <ion-label>
              <ion-label position="floating">Dialogo Pagina: 3</ion-label>
              <ion-input
                [(ngModel)]="NPCNormalDialog.contenidoPages[2]"
                type="text"
                required
              ></ion-input>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row  >
        <ion-col *ngIf="this.NPCNormalDialog.numPages  >= 4" size="12">
          <ion-item>
            <ion-label>
              <ion-label position="floating">Dialogo Pagina: 4</ion-label>
              <ion-input
                [(ngModel)]="NPCNormalDialog.contenidoPages[3]"
                type="text"
                required
              ></ion-input>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row  >
        <ion-col *ngIf="this.NPCNormalDialog.numPages >= 5" size="12">
          <ion-item>
            <ion-label>
              <ion-label position="floating">Dialogo Pagina: 5</ion-label>
              <ion-input
                [(ngModel)]="NPCNormalDialog.contenidoPages[4]"
                type="text"
                required
              ></ion-input>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row  >
        <ion-col *ngIf="this.NPCNormalDialog.numPages >= 6" size="12">
          <ion-item>
            <ion-label>
              <ion-label position="floating">Dialogo Pagina: 6</ion-label>
              <ion-input
                [(ngModel)]="NPCNormalDialog.contenidoPages[5]"
                type="text"
                required
              ></ion-input>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row  >
        <ion-col *ngIf="this.NPCNormalDialog.numPages >= 7" size="12">
          <ion-item>
            <ion-label>
              <ion-label position="floating">Dialogo Pagina: 7</ion-label>
              <ion-input
                [(ngModel)]="NPCNormalDialog.contenidoPages[6]"
                type="text"
                required
              ></ion-input>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row  >
        <ion-col *ngIf="this.NPCNormalDialog.numPages >= 8" size="12">
          <ion-item>
            <ion-label>
              <ion-label position="floating">Dialogo Pagina: 8</ion-label>
              <ion-input
                [(ngModel)]="NPCNormalDialog.contenidoPages[7]"
                type="text"
                required
              ></ion-input>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row  >
        <ion-col *ngIf="this.NPCNormalDialog.numPages >= 9" size="12">
          <ion-item>
            <ion-label>
              <ion-label position="floating">Dialogo Pagina: 9</ion-label>
              <ion-input
                [(ngModel)]="NPCNormalDialog.contenidoPages[8]"
                type="text"
                required
              ></ion-input>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row  >
        <ion-col *ngIf="this.NPCNormalDialog.numPages >= 10" size="12">
          <ion-item>
            <ion-label>
              <ion-label position="floating">Dialogo Pagina: 10</ion-label>
              <ion-input
                [(ngModel)]="NPCNormalDialog.contenidoPages[9]"
                type="text"
                required
              ></ion-input>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>



      <ion-row  *ngIf="thisIsPlus" >
        <ion-col size="12">
          <ion-item>
            <ion-label>Accion que Causa este Dialog: </ion-label>
            <ion-select [(ngModel)]="this.NPCNormalDialog.accionCausa"     
            interface="popover"
            placeholder="Select accionCausa"
     
             multiple="false">
                <ion-select-option *ngFor="let AC of ACsCausa" [value]="AC"  >{{AC.npcCausa.name}} -> {{AC.npcConsecuencia?.name  ||  'Todos'}} : {{AC.name}}</ion-select-option>

    
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>



      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Accion a Activar con este Dialog: </ion-label>
            <ion-select [(ngModel)]="this.NPCNormalDialog.accionConsecuencia"     
            interface="popover"
            placeholder="Select accionConsecuencia"

             multiple="false">
                <ion-select-option *ngFor="let AC of ACsConsecuencia"  [value]="AC"  >{{AC.npcCausa.name}} -> {{AC.npcConsecuencia?.name  ||  'Todos'}} : {{AC.name}}</ion-select-option>
     
                <ion-select-option value="Ninguno" >Ninguno</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>questSorprise: </ion-label>
            <ion-select [(ngModel)]="this.NPCNormalDialog.questSorprise"     
            interface="popover"
            placeholder="Select questSorprise"
            [value]="this.NPCNormalDialog.questSorprise"
             multiple="false">
             <ion-select-option value=true >Si</ion-select-option>

                <ion-select-option value=false >No</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-row  >
        <ion-col *ngIf="this.NPCNormalDialog.questSorprise=='true'" size="12">
          <ion-item>
            <ion-label>
              <ion-label position="floating">Dialogo Quest GOOD:</ion-label>
              <ion-input
                [(ngModel)]="NPCNormalDialog.questSorpriseAnsGood"
                type="text"
                required
              ></ion-input>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-row  >
        <ion-col *ngIf="this.NPCNormalDialog.questSorprise=='true'" size="12">
          <ion-item>
            <ion-label>
              <ion-label position="floating">Dialogo Quest BAD:</ion-label>
              <ion-input
                [(ngModel)]="NPCNormalDialog.questSorpriseAnsBad"
                type="text"
                required
              ></ion-input>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
  


      <ion-row  *ngIf="!thisIsPlus"    >
        <ion-col size="12">
          <ion-button
            (click)="CreateData( NPCNormalDialog )"
            class="ion-padding"
            expand="full"
            fill="solid"
            shape="round"
          >
            Create
          </ion-button>
        </ion-col>
      </ion-row>



      <ion-row   *ngIf="thisIsPlus"   >
        <ion-col size="12">
          <ion-button
            (click)="createNPCDialogPLUS(  )"
            class="ion-padding"
            expand="full"
            fill="solid"
            shape="round"
          >
            Create PLUS
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>

  </ion-card-content>
</ion-card>