<ion-header class="text-center" color="light" [translucent]="true">
  <ion-toolbar color="light">
    <ion-label class="ml-3" slot="start" *ngIf="user.name" >{{user.name}}</ion-label>

    <ion-label style="text-transform: uppercase;" >
      <strong>{{titulo}}</strong>
      </ion-label>
     
    
    <ion-buttons class="mr-4"  slot="end">
      <ion-button color="tertiary" (click)="salir()" expand="block" fill="solid" shape="round">
        <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>







<ion-content style="background-color: background; width: 100%; height: 100%;" color="light" class="ion-no-padding"  >

<ion-grid class="text-center" style="width: 100%; height: 100%;" fixed>
  <ion-row style="height: 60%;"  >
    <ion-col size="12">

      <ion-button color="secondary" class="mx-auto mt-4" style="width: 60%; height: 50%;"  shape="round" fill="solid" expand="full"  routerLink="/quest-pages">
        <ion-icon slot="icon-only" style="font-size: 50px;" name="help-outline"></ion-icon>
      </ion-button>
    
    </ion-col >
    <ion-col class="mx-auto mt-3 text-center" size="12">
      <ion-button class="mx-auto" style="width: 60%; height: 50%;"  shape="round" fill="solid" expand="full" routerLink="/global-dialog-page">
        <ion-icon slot="icon-only" style="font-size: 50px;"  name="chatbubbles-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row style="height: 40%;" class="mx-auto">
    <ion-col size="12" text-align-center>
      <ion-img class="mx-auto" style="width: 128px; height: 128px;" src="assets/media/oliver_waiting.gif"></ion-img>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
