<ion-header color="primary" (click)="close()">
    <ion-toolbar color="primary">

        <ion-title *ngIf="razon=='accionCausa'">Dialogos Consecuencia: {{totaldialogs}} </ion-title>
        <ion-title *ngIf="razon=='accionConsecuencia'">Dialogo Causa: {{totaldialogs}} </ion-title>
        <ion-title *ngIf="razon==null">Dialogos PLUS: {{totaldialogs}} </ion-title>
    </ion-toolbar>
</ion-header>



<ion-card *ngFor=" let NPCNormalDialog of dialogs"
    style="width: 100%; text-transform: uppercase; margin: 0%; text-align: center;" (click)="close()">
    <ion-card-header class="text-center" color="primary">



        <ion-toolbar color="primary">



            <ion-card-subtitle> Dialogo N° {{NPCNormalDialog?.numInteraction}} </ion-card-subtitle>
            <ion-card-subtitle *ngIf="NPCNormalDialog.idOriginal!=null"> PLUS </ion-card-subtitle>
            <ion-card-title> {{NPCNormalDialog?.npc.name}} </ion-card-title>

            <ion-button color="danger" *ngIf="NPCNormalDialog.idOriginal!=null" slot="end"
                (click)="presentPopoverupdateDialogNPCPLUS(NPCNormalDialog.id)">
                <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
            </ion-button>


            <ion-button color="danger" *ngIf="NPCNormalDialog.idOriginal!=null" slot="end"
                (click)="presentAlertConfirmDeleteDialogPlus(NPCNormalDialog ,NPCNormalDialog.idOriginal )">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>

        </ion-toolbar>



    </ion-card-header>
    <ion-card-content>

        <ion-grid class="text-center" fixed>




            <ion-row>
                <ion-col size="6">
                    <ion-label>
                        <strong> N°Pages: </strong>
                    </ion-label>
                </ion-col>
                <ion-col size="6">
                    <ion-label>
                        {{NPCNormalDialog.numPages}}
                    </ion-label>
                </ion-col>
            </ion-row>

            <ion-row *ngFor="let contenidoPage of NPCNormalDialog.contenidoPages; let in= index ">

                <ion-col size="12">
                    <ion-label>
                        {{in+1}}.-{{contenidoPage}}
                    </ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <p>___________________________________</p>
                </ion-col>
            </ion-row>


            <ion-row>
                <ion-col size="6">
                    <ion-label>
                        <strong> Quest Sorprie: </strong>
                    </ion-label>
                </ion-col>
                <ion-col size="6">
                    <ion-label>
                        {{NPCNormalDialog.questSorprise}}
                    </ion-label>
                </ion-col>
            </ion-row>


            <ion-row *ngIf="NPCNormalDialog.questSorprise=='true'">
                <ion-col size="12">
                    <ion-label>
                        <strong> QS-AnsGood: </strong>
                    </ion-label>
                </ion-col>
                <ion-col size="12">
                    <ion-label>
                        {{NPCNormalDialog.questSorpriseAnsGood}}
                    </ion-label>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="NPCNormalDialog.questSorprise=='true'">
                <ion-col size="12">
                    <ion-label>
                        <strong> QS-AnsBad: </strong>
                    </ion-label>
                </ion-col>
                <ion-col size="12">
                    <ion-label>
                        {{NPCNormalDialog.questSorpriseAnsBad}}
                    </ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="12">
                    <p>___________________________________</p>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="NPCNormalDialog.accionCausa!=null">
                <ion-col size="12">
                    <ion-label>
                        <strong> AC que Causa este dialogo: </strong>
                    </ion-label>
                </ion-col>
                <ion-col size="12">
                    <ion-label>
                        {{NPCNormalDialog.accionCausa.npcCausa.name}} ->
                        {{NPCNormalDialog.accionCausa.npcConsecuencia?.name  ||  'Todos'}}
                    </ion-label>
                </ion-col>

                <ion-col size="12">
                    <ion-label>
                        {{NPCNormalDialog.accionCausa.name}}: {{NPCNormalDialog.accionCausa.description}}
                    </ion-label>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="NPCNormalDialog.accionConsecuencia!='Ninguno'">
                <ion-col size="12">
                    <ion-label>
                        <strong> AC a Activar: </strong>
                    </ion-label>
                </ion-col>
                <ion-col size="12">
                    <ion-label>
                        {{NPCNormalDialog.accionConsecuencia.npcCausa.name}} ->
                        {{NPCNormalDialog.accionConsecuencia.npcConsecuencia?.name  ||  'Todos'}}
                    </ion-label>
                </ion-col>
                <ion-col size="12">
                    <ion-label>
                        {{NPCNormalDialog.accionConsecuencia.name}}: {{NPCNormalDialog.accionConsecuencia.description}}
                    </ion-label>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="NPCNormalDialog.accionConsecuencia =='Ninguno'">
                <ion-col size="12">
                    <ion-label>
                        <strong> AC a Activar: </strong>
                    </ion-label>
                </ion-col>
                <ion-col size="12">
                    <ion-label> "Ninguno" </ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>

    </ion-card-content>
</ion-card>